@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-gray-900 font-Poppins text-white;
}
.inputs {
  position: relative;
}
.inputs input{
  @apply bg-gray-900 w-[250px] mg:w-[350px];
  height: 50px;
  border-radius: 6px;
  font-size: 14px;
  padding: 0 15px;
  border: 2px solid gray;
  color: white;
  outline: none;
}
.inputs label{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: gray;
  font-size: 19px;
  pointer-events: none;
  transition: .2s;
}
.inputs input:focus + label{
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 5px;
  color: rgb(17 24 39);
  @apply bg-[#3b82c8] rounded-full;
}
.inputs input:focus{
  border-color: rgb(59 130 200);
}
.inputs input:valid + label{
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 5px;
  color: rgb(17 24 39);
  @apply bg-[#3b82c8] rounded-full;
}

.inputs input:valid {
  border-color: rgb(59 130 200);
}

.inputs button{
  position: absolute;
  transition: .3s ease;
  right: 10px;
  transform: translateY(32%);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.checkbox {
  @apply w-[250px] mg:w-[350px] gap-2;
}

::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(17 24 39); /* Color de la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados */
}


/* Barra de desplazamiento horizontal */
::-webkit-scrollbar-track {
  background: rgb(17 24 39); /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-track-piece:end {
  background: rgb(17 24 39); /* Cambio de color al llegar al final de la barra de desplazamiento */
}

/* Barra de desplazamiento horizontal */
::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600 /* Cambio de color al pasar el cursor por encima */
}
